<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="PreferenceConfig" type="SunnyChen.Gulu.Win.Configuration.PreferenceConfigHandler, guluwin, Version=1.0.10116.2173, Culture=neutral, PublicKeyToken=cd75c08af413e307"/>
    <section name="BackupConfig" type="SunnyChen.Gulu.Win.Configuration.BackupConfigHandler, guluwin, Version=1.0.10116.2173, Culture=neutral, PublicKeyToken=cd75c08af413e307"/>
    <section name="EditorCompilerConfig" type="SunnyChen.Gulu.Win.Configuration.EditorCompilerConfigHandler, guluwin, Version=1.0.10116.2173, Culture=neutral, PublicKeyToken=cd75c08af413e307"/>
  </configSections>

  <PreferenceConfig FileTreeShowHidden="true"
                    FileTreeShowFiles="true"
                    FileTreeShowSystem="true"
                    SearchRecursivly="true"
              />
  
  <BackupConfig EnableBackup="true"
                BackupDirectory="backup"/>
  
  <EditorCompilerConfig SyntaxFileName="csharp.syn"
                        CompilerTypeName="SunnyChen.Common.CodeDom.CSharpCompiler, SunnyChen.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=eb3d8930e21cc6ec"
                        SimpleTemplate="csharp.simpletemplate"
                        GTemplate="csharp.gtemplate"/>
</configuration>
